*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
font-family: "inter";
}

body{
 background: linear-gradient(135deg, #134e5e, #2a7f62, #4caf50);
  min-height: 100vh;
  margin: 0;
}
.title{
  margin-top: 150px;
  margin-left: 300px;
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.title h1 span{
  border-bottom: 5px solid #a8e063;

  color: #a8e063;
}

.content{
  width: 500px;
  height: 70px;
  border-radius: 20px;
  background-color: aliceblue;
  margin-top: 70px;
  margin-left: 300px;
}

.content input{
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 600;
}

.content i{
  font-size: 25px;
}

button{
  margin-left: 300px;
  margin-top: 50px;
  width: 250px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #ffd700;

}
button:active{
  opacity: 0.5;
}
button i{
  color: white;
}